<div class="modal" *ngIf="show">
  <div class="modal-overlay" (click)="closeModal()"></div>
  <div class="modal-content">
    <ng-container *ngIf="!auth.isLoggedIn(); else loggedInContent">
      <h2>Iniciar Sesión</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
          <label for="username">Usuario</label>
          <input
            id="username"
            type="text"
            formControlName="username"
            [class.invalid]="f.username.invalid && f.username.touched"
            required
            minlength="3"
          />
          <small *ngIf="f.username.invalid && f.username.touched">
            El nombre de usuario es requerido (mínimo 3 caracteres)
          </small>
        </div>

        <div class="form-group">
          <label for="password">Contraseña</label>
          <input
            id="password"
            type="password"
            formControlName="password"
            [class.invalid]="f.password.invalid && f.password.touched"
            required
            minlength="6"
          />
          <small *ngIf="f.password.invalid && f.password.touched">
            La contraseña es requerida (mínimo 6 caracteres)
          </small>
        </div>

        <div class="form-group">
          <li>
            ¿No tienes cuenta?
            <a
              routerLink="/register"
              (click)="closeModal()"
              class="link"
            >
              Regístrate
            </a>
          </li>
        </div>

        <button type="submit" [disabled]="loading || loginForm.invalid">
          {{ loading ? 'Ingresando...' : 'Ingresar' }}
        </button>
        <div class="error" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>
      </form>
    </ng-container>
    <ng-template #loggedInContent>
      <h2>Ya estás logueado 😎</h2>
      <button (click)="logout()" type="submit">Cerrar sesion</button>
    </ng-template>
  </div>
</div>
